html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Align children (map and filters) in a column */
}

#map-id {
  flex-grow: 1; /* Allows the map to take the remaining space */
  width: 100%; /* Ensure full width */
}

.filter-container {
  width: 100%; /* Full width of the container */
  display: flex;
  justify-content: flex-end; /* Aligns filter to the right */
}

.filter-section {
  width: 300px; /* Fixed width for filter section */
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.filter-section label,
.filter-section span {
  display: block;
  margin-bottom: 5px;
}

.filter-section input[type=range] {
  width: 100%;
}
