html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Align children (map and filters) in a column */
}

#headerBox {
  background-color:transparent; /* Light grey background */
  color: #000000; /* Dark text color */
  padding: 0%; /* Some padding around the content */
  text-align: center; /* Center-align text */
  border-bottom: 2px solid #ccc; /* Bottom border for a subtle separation */
  font-size: 20px; /* Larger text size */
  font-family: Arial, sans-serif; /* This sets the font family */
}


#map-id {
  flex-grow: 1; /* Allows the map to take the remaining space */
  width: 100%; /* Ensure full width */
}


.filter-container {
  width: 100%; /* Full width of the container */
  display: flex;
  flex-direction: row; /* Stack elements vertically */
  align-items: center; /* Center align the items */
  align-items: stretch;
}

.filter-section {
  width: 80%; /* Adjust width to fit within the screen */
  margin-bottom: 10px;
  padding: 10px;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.filter-section label {
  font-family: Arial, sans-serif; /* This sets the font family */
    /* You can also specify other font properties if needed */
}
  




.filter-section span {
  display: block;
  margin-bottom: 5px;
}

.filter-section input[type=range] {
  width: 100%;
}
